<h2 class="text--center gamma">Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="push--bottom">
    <%= f.label :email, class: "label" %>
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %> 
  </div>

  <div class="push--bottom">
    <%= f.submit "Resend confirmation instructions", class: 'button button--success button--block' %>
  </div>
<% end %>

<div class="text--center">
  <%= render "devise/shared/links" %>
</div>
