<h2 class="text--center gamma">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="push--bottom">
    <%= f.label :email, class: 'label' %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="push--bottom">
    <%= f.label :password, class: 'label' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="push--bottom">
    <%= f.label :password_confirmation, class: 'label' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="push--bottom">
    <%= f.submit "Sign up", class: 'button button--success button--block' %>
  </div>
<% end %>

<div class="text--center">
  <%= render "devise/shared/links" %>
</div>