<div class="workspace">
  <div class="workspace__chart">
    <div class="js-workspace-chart"></div>
  </div>

  <% if user_signed_in? && @workspace.user == current_user %>
    <div class="resources-container">
      <button class="orb orb--resources workspace__orb--left js-toggle-sidebar" data-target=".js-resources-sidebar">
        <span class="workspace-orb__label">
          <i class="icon icon--pawn"></i>
        </span>
        <span class="workspace-orb__label--alt">Close</span>
      </button>

      <section class="resources sidebar workspace__sidebar--left js-resources-sidebar">
        <h1 class="resources__title">Resources</h1>
        <ul class="resources__list js-resources-list">
          <%- @workspace.resources.each do |resource| %>
            <li> <span> <%= resource.name %> (<a href="javascript:;" class="js-open-allocate-form" data-resource-name="<%= resource.name %>" data-resource-id="<%= resource.id %>">allocate</a>)</span> </li>
          <%- end %>
        </ul>

        <form class="js-new-resource-form" action="<%= resources_path(version:1, wid: @workspace.unique_id)%>" data-method="post" >
          <div class="form-inline">
            <input type="text" autocomplete="off" class="form-control form-control--clear input--large js-group-input-name js-name" placeholder="<%= @workspace.resources_name %> Name" name="resource[name]" data-name="name">
            <input type="submit" class="button button--info button--large float--right js-submit" value="New">
          </div>
        </form>

      </section>
    </div>

    <div class="groups-container">
      <button class="orb orb--groups workspace__orb--right js-toggle-sidebar" data-target=".js-groups-sidebar">
        <span class="workspace-orb__label">
          <i class="icon icon--group"></i>
        </span>
        <span class="workspace-orb__label--alt">Close</span>
      </button>

      <div class="groups sidebar workspace__sidebar--right js-groups-sidebar">
        <form class="js-new-resource-group-form" action="<%= resource_groups_path(version:1, wid: @workspace.unique_id)%>" data-method="post" >
          <div class="form-inline">
            <input type="text" autocomplete="off" class="form-control form-control--clear input--large js-group-input-name js-name" placeholder="<%= @workspace.resource_groups_name %> Name" name="resource_group[name]" data-name="name">
            <input type="submit" class="button button--info button--large float--right js-submit" value="OK">
          </div>
        </form>
      </div>
    </div>
  <% end %>

  <div class="workspace__slider">
    <input type="text" id="js-workspace-date-slider" />
  </div>
</div>

<% content_for :javascripts do %>
  <script id="js-availability-list-template" type="text/html">
    <h3>Resource Availability</h3>
    <ul>
      {{#response}}
        <li>
          <strong>from: </strong> {{human_start_date}} - <strong>to: </strong> {{human_end_date}}
          (<a href="#" class="js-availability-use-this" data-start-date="{{start_date}}" data-end-date="{{end_date}}">use this</a>)
        </li>
      {{/response}}
    </ul>
  </script>

  <script id="js-new-allocation-form-template" type="text/html">
    <div class="js-availability-list">loading availability information</div>

    <form class="js-new-allocation-form clearfix" action="<%= allocations_path(version:1, wid: @workspace.unique_id)%>" data-method="post" >
      <input class="js-resource-id" type="hidden" name="allocation[resource_id]" data-name="resource_id" value="{{resourceId}}">

      <div class="form-inline">
        <label for="allocation[resource_group_id]" class="col-sm-2 control-label"><%= @workspace.resource_groups_name %></label>

        <select class="form-control js-resource-group-id" name="allocation[resource_group_id]" data-name="resource_group_id">
          {{#resourceGroups}}
            <option value="{{id}}">{{name}}</option>
          {{/resourceGroups}}
        </select>
      </div>

      <div class="form-inline">
        <label for="allocation[start_date]">From</label>
        <input class="js-start-date" type="text" name="allocation[start_date]" data-name="start_date" value="{{startDate}}">
        <label for="allocation[end_date]">To</label>
        <input class="js-end-date" type="text" name="allocation[ent_date]" data-name="end_date" value="{{endDate}}">
      </div>

      <button type="submit" class="js-submit button button--info button--large float--right">OK</button>
    </form>
  </script>

  <script id="js-resources-list-item-template" type="text/html">
    <li><span>{{ name }} (<a href="javascript:;" class="js-open-allocate-form" data-resource-name="{{ name }}" data-resource-id="{{id}}">allocate</a>) </span></li>
  </script>

  <script id="js-resources-group-template" type="text/html">
    <div class="workspace-chart__group js-workspace-chart-group" style="background-color: {{ bg_color }}">
      <div class="workspace-chart-group__title js-group-title">{{ name }}</div>
    </div>
  </script>

  <script id="js-resource-template" type="text/html">
    <div class="workspace-chart__resource js-workspace-chart-resource">{{ name }}</div>
  </script>

  <script type="text/javascript" charset="utf-8">
    Resorcery.workspaceId = <%= @workspace.unique_id.to_json.html_safe %>;
    Resorcery.defaultDates = <%= default_dates.to_json.html_safe %>;
    NewResourceGroupForm.init(".js-new-resource-group-form");
    NewResourceForm.init(".js-new-resource-form", ".js-resources-list");
  </script>
<% end %>

