<h2 class="text--center gamma">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="push--bottom">
    <%= f.label :email, class: "label" %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="push--bottom">
    <%= f.submit "Send me reset instructions", class: 'button button--success button--block' %>
  </div>
<% end %>

<div class="text--center">
  <%= render "devise/shared/links" %>
</div>
