<!DOCTYPE html>
<html>
<head>
  <title>Resorcery</title>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Catamaran:400,300,600', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-container">
    <header class="main-header">
      <div class="container container--wide">
        <div class="main-logo">
          <%= link_to "Resorcery", :root %>
        </div>
        <nav class="main-nav">

        </nav>
      </div>
    </header>
    <main class="main-content">
      <%= yield %>
    </main>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascripts %>

  <div class="overlay" style="display:none"></div>
  <style type="text/css">
    .errored {
      border: 1px solid !important #e8828e;
    }
    html, body{
      min-height: 100%;
    }
    body{
      position: relative;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: rgba(255,255,255,0.8); /*dim the background*/
    }
  </style>
</body>
</html>
