<!DOCTYPE html>
<html>
<head>
  <title>Resorcery</title>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Catamaran:400,300,600', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-container">
    <header class="main-header">
      <div class="container container--wide">
        <div class="main-logo">
          <%= link_to "Resorcery", :root %>
        </div>
        <nav class="main-nav text-right">
          <a href="<%= destroy_user_session_path %>" class="button button--warning button--large">
            Log out
          </a>
        </nav>
      </div>
    </header>
    <main class="main-content">
      <%= yield %>
    </main>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascripts %>

  <div class="overlay js-overlay"></div>
</body>
</html>
