<!DOCTYPE html>
<html>
<head>
  <title>Resorcery</title>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Catamaran:400,300,600', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= favicon_link_tag "favicon.png", rel: "shortcut icon", type: "image/png" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'shared/google_analytics_code' %>

  <div class="main-container">
    <header class="main-header">
      <div class="container container--wide">
        <div class="main-logo">
          <%= link_to "Resorcery", :root %>
        </div>
        <nav class="main-nav text-right">
          <%= link_to "My Workspaces", dashboard_path, class: "main-nav__item--link" %>
          <% if user_signed_in? %>
            <a href="<%= destroy_user_session_path %>" class="button button-border--white main-nav__item--button">
              Log out
            </a>
          <% end %>
        </nav>
      </div>
    </header>
    <main class="main-content">
      <%= yield %>
    </main>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascripts %>

  <div class="overlay js-overlay"></div>
</body>
</html>
